<!--
    Launch file to test the main node, liveview and hdpicture features
    
    ROS Node - Sony Camera
    Copyright (C) 2018  Alexander Marin

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<launch>
    <node
    pkg="sony_cam"
    type="sony_cam_node.py"
    name="cam_node"
    launch-prefix="x-terminal-emulator -e"
    />
    
    <node
    pkg="sony_cam"
    type="client_test.py"
    name="test_picture_serv"
    launch-prefix="x-terminal-emulator -e"
    />
 
    <node
    pkg="image_view"
    type="image_view"
    name="show_liveview"
    args="compressed"
    > 
        <remap from="image" to="/liveview" />
    </node>
    
    <node
    pkg="image_view"
    type="image_view"
    name="show_hdpicture"
    args="compressed"
    > 
        <remap from="image" to="/hdpicture" />
    </node>

</launch>
